:root {
  --title-color: #ffffff;
  --text-color: #bfbfbf;
  --main-title-size: 40px;
  --article-title-size: 30px;
  --article-text-size: 20px;
  --nav-btn-size: 20px;
  --footer-text-size: 20px;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #181a1b;
  overflow-x: hidden;
}
