:root {
  --white-color: #ecf4f3;
  --white-transparent-color: #ecf4f38f;
  --grey-color: #c7d3d1;
  --grey-transparent-color: #c7d3d1b4;
  --black-color: #171818;
  --blue-color: #2d46a0;
  --dark-blue-color: #233575;
  --darker-blue-color: #162558;
  --red-color: #9c7171;
  --transparent: #ffffff00;

  --nav-title-size: 40px;
  --nav-btn-size: 20px;

  --article-title-size: 30px;
  --article-title-size-2: 40px;
  --article-text-size: 20px;
  --article-text-size-2: 25px;
  --article-image-text-size: 15px;

  --footer-text-size: 20px;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
