/* Variables are defined in globals.css */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.home {
  display: grid;
  grid-template-columns: 25vw 65vw;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  grid-column-gap: 60px;
}

.article {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  border: 3px solid var(--red-color);
  border-radius: 18px;
  background-color: var(--white-color);
  padding: 8px;
  user-select: none;
  text-decoration: none;
}

.article:hover {
  background-color: var(--white-transparent-color);
  scale: 105%;
}

.articleTitle {
  color: var(--black-color);
  font-size: var(--article-title-size);
  font-weight: bold;
}

.articleText {
  color: var(--black-color);
  font-size: var(--article-text-size);
}

.articleImage {
  color: var(--black-color);
  font-size: var(--article-text-size);
}
